<div class="container">
  <div layout='column' >
      <md-progress-linear ng-if='ctrl.form.processing' md-mode="indeterminate"></md-progress-linear>
  </div>
    <div layout="row" layout-align='start'>
        <div>
            <md-button class='md-fab md-primary' href="#/slider">
                <md-icon><i class="material-icons">arrow_back</i></md-icon>
                <md-tooltip md-visible="show" md-direction="bottom">
                    go back
                </md-tooltip>
            </md-button>
        </div>
        <div  md-whiteframe="3" flex='70' style="margin: 0px auto; margin-top: 10px;" >
            <form class="wrapper form form-inline"  name='form' ng-cloak>
                <div class="error" ng-if="ctrl.form.error">
                    <p class="error-text"> {{ctrl.form.msg}} </p>
                </div>
                <p style="margin: 0; color:#666; text-align:center; font-weight:bold; font-size: 24px;">Edit Slider<span style='font-size:16px; color:brown; margin-left:20px; margin-bottom:20px; font-weight:normal;'>All * fields are manadatory</span></p>

                <div layout='row' layout-xs='column' style="margin-top:30px;">
                    <input-text label='* Slider Id' property='ctrl.editSlider' value='sliderId' type='text' required='true' disabled='true' size='initial' flex='initial'>
                        <div ng-messages="form.name.$error" ng-if='form.name.$dirty'>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </input-text>
                    <md-input-container class="md-inline md-custom-input" flex='initial'>
                        <label class="control-label">* Priority</label>

                        <input data-ng-model="ctrl.editSlider.priority" ng-minlength='1' ng-maxlength='100' name='priority' id='priority' type="number" class="form-control"  style='width:100%' ng-required ='true' ng-blur='ctrl.check_priority(ctrl.newSlider.priority)'>
                        <div ng-messages="form.priority.$error"
                           ng-if="form.priority.$dirty">
                          <div ng-message="required">This is required</div>
                          <div ng-message="minlength">must be over 0</div>
                          <div ng-message="maxlength">must not exceed 100</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-inline md-custom-input" fle='initial'>
                        <label>* redirect to</label>
                        <md-select name='redirect' ng-model="ctrl.editSlider.redirect">
                          <md-optgroup label="">
                            <md-option ng-repeat='r in ctrl.redirectOptions' value="{{r}}" >{{r}}</md-option>
                          </md-optgroup>
                        </md-select>
                        <div ng-messages="form.redirect.$error" ng-if='form.redirect.$dirty'>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <input-text label='* Context' property='ctrl.editSlider' value='context' type='text' required='true' size='grow' flex='grow'>
                        <div ng-messages="form.name.$error" ng-if='form.name.$dirty'>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </input-text>
                </div>
                <div layout='row' layout-xs='column'>
                    <input-text label='* Image Path' property='ctrl.editSlider' value='imagePath' type='text' required='true' flex='grow'>
                        <div ng-messages="form.mobile.$error" ng-if='form.mobile.$dirty'>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </input-text>
                </div>
                <div layout='row' layout-xs='column'>
                    <input-text label='* Path URL' property='ctrl.editSlider' value='pathUrl' type='text' required='true' flex='grow'>
                        <div ng-messages="form.address.$error" ng-if='form.address.$dirty'>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </input-text>
                </div>
            <div layout='row' layout-align='end end'>
                <md-button class="md-raised md-primary" ng-click='ctrl.update()'> <md-icon><i class="material-icons">launch</i></md-icon> Update </md-button>
            </div>
            </form>
        </div>
    </div>
</div>

</md-dialog>
</script>
