<div>
   <div layout='column' >
       <md-progress-linear ng-if='ctrl.page.processing' class='md-warn' md-mode="indeterminate"></md-progress-linear>
   </div>
   <div class="container">
       <div layout="row" layout-align='start center'>
           <p>Sliders: </p>
           <div flex-offset='5' flex='50' style="margin-top: 30px;">
               <md-input-container class="md-block md-custom-input" >
                   <label>Serch Slider</label>
                   <input name='search' data-ng-model="search">
               </md-input-container>
           </div>
           <span flex></span>
           <div>
               <md-button class='md-fab md-primary' href="#/add_slider">
                   <md-icon><i class="material-icons">add</i></md-icon>
               </md-button>
               <md-tooltip md-visible="show" md-direction="bottom">
                   Add new Slider
               </md-tooltip>
           </div>
       </div>
       <table class="table table-hover table-condensed table-bordered">
           <thead>
               <tr>
                   <th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Slider Id</a></th>
                   <th><a href="" ng-click="orderByField='shopName'; reverseSort = !reverseSort">Context</a></th>
                   <th><a href="" ng-click="orderByField='phone'; reverseSort = !reverseSort">Image</a></th>
               </tr>
           </thead>
           <tbody>

               <tr data-ng-repeat="s in ctrl.sliders | filter: search | orderBy:orderByField:reverseSort">
                   <td>
                       {{ s.sliderId }}
                   </td>
                   <td>
                       {{ s.context }}
                   </td>
                   <td>
                       {{ s.imagePath }}
                   </td>
                   <td layout='row' layout-align='space-around center'>
                       <md-icon><a href='#/edit_slider/{{s.sliderId}}'> <i class="material-icons">create</i> </a></md-icon>
                       <md-icon  class='delete' >
                           <a ng-href="" ng-click="ctrl.remove(s)" >
                               <i class="material-icons">delete sweep</i>
                           </a>
                       </md-icon>
                   </td>
               </tr>
           </tbody>
       </table>
   </div>
 </div>
