 <div>
    <div layout='column' >
        <md-progress-linear ng-if='ctrl.page.processing' class='md-warn' md-mode="indeterminate"></md-progress-linear>
    </div>
    <div class="container">
        <div layout="row" layout-align='start center'>
            <p>Products: </p>
            <div flex-offset='5' flex='50' style="margin-top: 30px;">
                <md-input-container class="md-block md-custom-input" >
                    <label>Serch Product</label>
                    <input name='search' data-ng-model="search">
                </md-input-container>
            </div>
            <span flex></span>
            <div>
                <md-button class='md-fab md-primary' href="#/addNewProduct">
                    <md-icon><i class="material-icons">add</i></md-icon>
                </md-button>
                <md-tooltip md-visible="show" md-direction="bottom">
                    Insert new Product
                </md-tooltip>
            </div>
        </div>
        <table class="table table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">Product ID </a></th>
                    <th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Product Name</a></th>
                    <th><a href="" ng-click="orderByField='shopName'; reverseSort = !reverseSort">Product Image</a></th>
                    <th><a href="" ng-click="orderByField='phone'; reverseSort = !reverseSort">Text</a></th>
                </tr>
            </thead>
            <tbody>

                <tr data-ng-repeat="product in ctrl.products | filter: search | orderBy:orderByField:reverseSort">
                    <td>
                        {{ product.pId }}
                    </td>
                    <td>
                        {{ product.pName }}
                    </td>
                    <td>
                        {{product.pImage}}
                    </td>
                    <td>
                        {{ product.text1 }}
                    </td>
                    <td layout='row' layout-align='space-around center'>
                        <md-icon><a href='#/editProduct/{{product.pId}}'> <i class="material-icons">create</i> </a></md-icon>
                        <md-icon  class='delete' >
                            <a ng-href="" ng-click="ctrl.destroy(product.pId)" >
                                <i class="material-icons">delete sweep</i>
                            </a>
                        </md-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
