<div class="container">
	<div layout='row' layout-align='space-around center' style='margin-top:50px;'>
		<div class="dashboard-point" layout='column' layout-align=' center start'><h3>Total Products</h3><p>30</p></div>
		<div class="dashboard-point" style='background:thistle;' layout='column' layout-align=' center start'><h3>Total Categorys</h3><p>2</p></div>
		<div class="dashboard-point" style='background:burlywood;' layout='column' layout-align=' center start'><h3>Todays total Orders</h3><p>5</p></div>
		<div class="dashboard-point" style='background:yellowgreen;' layout='column' layout-align=' center start'><h3>Total Item Sold today</h3><p>90</p></div>
		<div class="dashboard-point" style='background:tomato;' layout='column' layout-align=' center start'><h3>Criticat Products</h3><p>10001</p></div>
	</div>
</div>